
body { 
  background-color: rgb(3, 6, 12);
  font-family: 'Raleway', sans-serif;
}

nav {
  z-index: 1;
}

/* Carousel */

.carousel-indicators {
  top: 180px;
}

.carousel-indicators li {
  width : 10px;
  height: 10px;
  border-radius: 50%;
}

/* #carouselfix {
  position: relative; top: -32px;
} 

No lo utilicé, pero podría dar problemas a futuro, así que lo dejo porseacaso*/

/* Otros */



.chikito {

  max-width: 5%;
  max-height: 5%;
  float: inline-start;
  position: relative;
  bottom: 3px;
}

#avioncete {

  background-color: rgb(77, 182, 185);
  text-align: center;
  
}


hr {
  background-color: rgb(77, 182, 185)!important; 
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;

}




/* Contactus */


#emailstuff{
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  align-content: center;
}

/* ftr */

#footer a {
  color: white;
  text-decoration: none;
  size-adjust: 85%;
}

.h1viajeschill{
  position: relative;
  top: 6px;
}

.linksviajeschill {
  position: relative;
  top: -5px;
}